{% extends "DemoBundle::layout.html.twig" %}
{% block body %}
    <section class="jumbotron intro">
        <div class="container text-center">
            <h1>Hello World!</h1>
            <p><a href="#example" class="btn btn-info btn-lg fancybox"><span class="glyphicon glyphicon-info-sign"></span> fancyBox</a></p>
        </div>
    </section>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="{{ asset('img/demo/gulp.png') }}" alt="Bootstrap">
                    <div class="caption">
                        <h2>Gulp</h2>
                        <p>Build system automating tasks: minification and copying of all JavaScript files, static images, capable of watching files to automatically rerun the task when a file is changed.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="{{ asset('img/demo/bootstrap.png') }}" alt="Gulp">
                    <div class="caption">
                        <h2>Bootstrap</h2>
                        <p>Bootstrap is the most popular HTML, CSS, and JS framework for developing responsive, mobile first projects on the web.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="{{ asset('img/demo/browsersync.png') }}" alt="Browsersync">
                    <div class="caption">
                        <h2>Browsersync</h2>
                        <p>Browsersync makes your browser testing workflow faster by synchronising URLs, interactions and code changes across multiple devices. It’s wicked-fast and totally free.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid" id="example" style="display:none">
        <p>fancyBox is a tool that offers a nice and elegant way to add zooming functionality for images, html content and multi-media on your webpages.<br> It is built on the top of the popular JavaScript framework jQuery and is both easy to implement and a snap to customize.</p>
    </div>
{% endblock %}
{% block javascripts %}
{{ parent() }}
<script>
    $(document).ready(function() {
        $('.fancybox').fancybox({
            padding : 20,
            maxWidth : 500,
            closeBtn: true
        });
    });
 </script>
{% endblock %}
